<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p [%-23c{-3}] %m (%F:%L)%n"/>
		</Console>
<!--
		<RollingFile name="File" fileName="./logs/jarvey.streams.log"
								filePattern="./logs/jarvey.streams-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"/>
				<SizeBasedTriggeringPolicy size="10000KB"/>
			</Policies>
			<DefaultRolloverStrategry max="20" fileIndex="min"/>
		</RollingFile>
-->
	</Appenders>
	
	<Loggers>
		<Logger name="org.apache.kafka" level="warn"/>
		<Logger name="jarvey.streams.updatelog" level="info"/>
		
		<Logger name="jarvey.streams.assoc.AssociationCollection" level="info"/>
		<Logger name="jarvey.streams.assoc.final" level="warn"/>
		<Logger name="jarvey.streams.assoc.store" level="warn"/>
		
		<Logger name="jarvey.streams.assoc.motion" level="info"/>
		<Logger name="jarvey.streams.assoc.motion.binary" level="info"/>
		<Logger name="jarvey.streams.assoc.motion.binary.window" level="warn"/>
		<Logger name="jarvey.streams.assoc.motion.binary.dist" level="warn"/>
		
		<Logger name="jarvey.streams.assoc.feature" level="info"/>
		<Logger name="jarvey.streams.assoc.feature.candidate" level="info"/>
		<Logger name="jarvey.streams.assoc.feature.dist" level="warn"/>
		
		<Logger name="jarvey.streams.assoc.global_tracks" level="debug"/>
		<Logger name="jarvey.streams.assoc.global_tracks.cache" level="debug"/>
		
		<Root level="info">
			<AppenderRef ref="STDOUT"/>
		</Root>
	</Loggers>
</Configuration>