<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p [%-21c{2}] %m (%F:%L)%n"/>
		</Console>
<!--
		<RollingFile name="File" fileName="./logs/jarvey.streams.log"
								filePattern="./logs/jarvey.streams-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"/>
				<SizeBasedTriggeringPolicy size="10000KB"/>
			</Policies>
			<DefaultRolloverStrategry max="20" fileIndex="min"/>
		</RollingFile>
-->
	</Appenders>
	
	<Loggers>
		<Logger name="org.apache.kafka" level="warn"/>
		<Logger name="jarvey.assoc.feature.FeatureBasedAssociator" level="info"/>
		<Logger name="jarvey.streams.updatelog" level="info"/>
		
		<Logger name="jarvey.streams.assoc.motion.FinalMotionAssociationSelector" level="info"/>
		<Logger name="jarvey.streams.assoc.motion.FinalFeatureAssociationSelector" level="info"/>
		<Logger name="jarvey.streams.assoc.feature.FeatureBinaryTrackletAssociator" level="info"/>
		<Logger name="jarvey.streams.assoc.AssociationStore" level="info"/>
		
		<Root level="info">
			<AppenderRef ref="STDOUT"/>
		</Root>
	</Loggers>
</Configuration>